ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  width: 50%;
  margin: 15px auto;
}

li {
  padding: 10px;
}

a {
  text-decoration: underline 1px transparent;
  color: grey;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: underline 1px solid;
}

.active {
  color: white;
  text-decoration: underline;
}
