<div class="game-form">
  <h2>Before starting:</h2>
  <mat-form-field>
    <mat-label>Player's name</mat-label>
    <input matInput placeholder="Your name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose size:</mat-label>
    <mat-select>
      <mat-option value="2">2X2</mat-option>
      <mat-option value="4">4X4</mat-option>
      <mat-option value="6">6X6</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="button">START GAME</div>
</div>

<div class="actual-game">here we'll see the game</div>
