<div class="game-form" *ngIf="!boardCreated">
  <h2>Before starting:</h2>
  <mat-form-field>
    <mat-label>Player's name</mat-label>
    <input matInput placeholder="Your name" [(ngModel)]="userName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose size:</mat-label>
    <mat-select [(ngModel)]="boardSize">
      <mat-option value="2">2X2</mat-option>
      <mat-option value="8">4X4</mat-option>
      <mat-option value="18">6X6</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    class="button"
    (click)="createBoard(userName, boardSize)"
    [disabled]="!userName || !boardSize"
  >
    START GAME
  </button>
</div>

<app-board *ngIf="boardCreated" [player]="player"></app-board>
