<app-timer></app-timer>
<h3 class="player-name">Player: {{ player.name }}</h3>
<ng-template #number
  ><span class="counter"> Game starts in {{ counter }} </span></ng-template
>

<div
  class="board-container"
  [@board-size]="player.size"
  *ngIf="cards.length !== 0; else number"
>
  <p class="moove-count">
    Mooves: <span class="mooves">{{ mooveCount }}</span>
  </p>
  <app-game-card
    *ngFor="let c of cards; let idx = index"
    [data]="c"
    (cardClicked)="cardClicked(idx)"
  ></app-game-card>
</div>
