.moove-count {
  position: absolute;
  top: 20px;
  right: 35px;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 20px 15px;
  border-radius: 5px;
}

.mooves {
  font-weight: 700;
}

.player-name {
  position: absolute;
  top: 35px;
  right: 200px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 45px;
  animation: 1s linear infinite alternate zoom;
}

@keyframes zoom {
  0% {
    font-size: 45px;
  }
  50% {
    font-size: 35px;
  }
  100% {
    font-size: 45px;
  }
}

.board-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(9, 9%);
  gap: 15px;

  margin-top: 50px;
}

@media (max-width: 600px) {
  .board-container {
    grid-template-columns: repeat(2, 150px);
  }
}
